body{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.3)),url("gallery-img-4.jpg");
    background-size: cover;
}
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    width: 100%;
    justify-content: space-between;
  }
  
  .services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding:10px;
    text-align: center;
    align-items: center;
    width: 50%;
    height: auto;

  }
  
  .services .box-container .box img{
    width: 30%;
    height: auto;
    padding:10px;
    font-size: 5rem;
    color:var(--orange);
  }
  
  .services .box-container .box h3{
    font-size: 25px;
    color:rgba(248, 246, 246, 0.87);
  }
  
  .services .box-container .box p{
    font-size: 15px;
    color:rgb(240, 230, 230);
    padding:1rem 0;
  }
  
  .services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(246, 247, 245, 0.884);
  }
  .heading{
    text-align: center;
    padding: 2.5rem 0;
    text-transform: uppercase;
}
.heading span{
    font-size: 3.5rem;
    background-color:whitesmoke;
    color: var(--orange);
    border-radius: 5rem;
    padding: 2rem 1rem;
}